.hero__text {
  margin: 0 0 146px;
  font-family: var(--font-inter);
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  max-width: 310px;
  opacity: 0.5;
}

@media (max-width: 980px) {
  .hero__text {
    margin: 0 auto 91px;
    text-align: center;
    max-width: 260px;
  }
}
