.student__photo {
  border-radius: 10px;
  width: 270px;
  align-self: flex-start;
}

@media (max-width: 980px) {
  .student__photo {
    width: 255px;
  }
}

@media (max-width: 500px) {
  .student__photo {
    width: 100%;
    margin-bottom: 37px;
  }
}
