.auth__submit {
  display: block;
  width: 100%;
  padding: 13px 0 15px;
  margin-top: auto;

  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
  background: var(--accent-blue);
  border: none;
  border-radius: 3px;
}

@media (max-width: 500px) {
  .auth__submit {
    margin: auto 0 0;
  }
}
