.header__link_type_auth {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.header__link_type_auth:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 500px) {
  .header__link_type_auth {
    font-size: 10px;
    line-height: 16px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .header__link_type_auth:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
