.auth__error-msg {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: var(--accent-pink);
  position: absolute;
  bottom: -15px;
}
