.header__burger {
  display: none;
}

@media (max-width: 800px) {
  .header__burger {
    display: block;
    margin-left: auto;
    border: none;
    padding: 10px 8px;
    width: 44px;
    height: 44px;
    background: transparent url("../../../images/icon-burger.svg") no-repeat
      center;
  }
}

@media (max-width: 500px) {
  .header__burger {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
  }
}
