.portfolio__title {
  margin: 100px 0 30px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: var(--font-grey);
}

@media (max-width: 980px) {
  .portfolio__title {
    margin: 89px 0 30px;
  }
}
