.techs__item {
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;

  padding: 22px 0 21px;
  width: 90px;
  background: var(--bg-tech-grey);
  border-radius: 10px;

  color: #ffffff;
}

.techs__item:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 980px) {
  .techs__item {
    font-size: 12px;
    line-height: 15px;
    padding: 21px 0;
    width: 84px;
  }
}
