.header__button {
  padding: 8px 20px;
  border-radius: 3px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-inter);
  text-decoration: none;
  color: black;
  background: var(--accent-green);
}

@media (max-width: 500px) {
  .header__button {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 16px;
  }
}
